.btn,
button a {
    color: #fff;
    text-decoration: none;;
}

.btn:hover,
button a:hover{
    color:#0033cc;
    text-decoration: none;
}

.buttons {
    margin-top: 10px;
}

.password {
    overflow: hidden;
    padding-right: 10px;
}

@media only screen and (max-width: 992px){
    .all-users {
        display: block;
    }

    .headers {
        display: none;
    }
}